@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Bungee+Inline");

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* mix-blend-mode: exclusion; */
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

.container-fluid {
  min-height: 90vh;
  background-color: rgba(0,0,0,0);
  color: lightgrey;
}

h1{
  background-color: rgba(0,0,0,0.5);
  color: LightGrey;
}

.row {
  width: 30%;
  margin:0 auto;
}

.row, .col-xs-6, .list-group-item {
  background-color: rgba(0,0,0,0.5);
}

p{
  color: white;
}

footer {
  background-color: rgba(0,0,0,0.5);
  min-height: 10vh;
  padding: 1%;
  text-align: center;
  font-family: cursive, sans-serif;
  color: lightgrey;
}
