@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Bungee+Inline");

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background-color: 0;
}

.container-fluid {
  min-height: 85vh;
  /* color: lightgrey; */
}

.page-header {
  border: 0;
}

h3{
  background-color: rgba(0,0,0,0.5);
  color: LightGrey;
}

.row, .col-xs-6, .list-group-item {
  background-color: rgba(0,0,0,0.5);
  margin:0 auto;
  padding: 1%;
  border: 0;
  color: LightGrey;
}

footer {
  background-color: rgba(0,0,0,0.5);
  min-height: 10vh;
  padding: 1%;
  text-align: center;
  font-family: cursive, sans-serif;
  color: lightgrey;
}
